<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="i am a web-developer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"
        integrity="sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/style.css">
    {% comment %} <link rel="stylesheet" href="/static/reserch.html">
    <link rel="stylesheet" href="/static/dissertation.html"> {% endcomment %}
    <title>Writing Assistant</title>
</head>

<body>
    <!-- ###### haeder section start ############# -->
    <header>
        <div class="nav" data-aos="fade-down">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class=" d-flex justify-content-between align-items-center">
                            <div>
                                <a class=" text-decoration-none" href="/"><img src="/static/assets/images/logo.png"
                                        alt="" class=" img-fluid" width="100px"></a>
                            </div>
                            <div class="mt-3 nav-bar">
                                <ul class=" d-flex align-items-center   gap-5 list-unstyled">
                                    <li class="anchor"><a href="#">Services</a></li>
                                    <li><a href="reviews.html">reviews</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="how_to_order.html">How to order</a></li>
                                </ul>
                            </div>
                            <div class=" d-flex gap-3 align-items-center nav-icon">
                                <div class=" d-flex gap-2 justify-content-center align-items-center">
                                    <i class="ri-account-circle-line"></i>
                                    <a href="login.html">Login</a>
                                </div>
                                <div class=" place-order">
                                    <a href="sign_up.html">place an order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="services-section p-2">
            <ul class=" d-flex flex-column list-unstyled">
                <li><a href="reserch.html">Research Paper Help</a>
                    <hr>
                </li>
                <li><a href="dissertation.html">Dissertation Help</a>
                    <hr>
                </li>
                <li><a href="term_paper.html">Term Paper Help</a>
                    <hr>
                </li>
                <li><a href="home_paper.html">Home Work Help</a>
                    <hr>
                </li>
                <li><a href="essay.html">Essay Help</a>
                    <hr>
                </li>
                <li><a href="academic.html">Academic Help</a>
                    <hr>
                </li>
                <li><a href="math.html">Math Help</a>
                    <hr>
                </li>
            </ul>
        </div>

        <div class="header-section">
            <div class=" pt-5">
                <div class="container">
                    <div class="row w-50">
                        <div class="col-12" data-aos="fade-right">
                            <div class="header-para d-flex flex-column justify-content-start ">
                                <h1 data-aos="fade-down">Expert Research <br> <span data-aos="zoom-in-right">Paper
                                        Help</span> And Best Dissertation Help UK</h1>
                                <p>
                                    Are you on the hunt for top-notch research paper and dissertation help in the UK?
                                    Look no further! We specialize in providing the best dissertation help in the UK to
                                    students pursuing higher education. Our dedicated team of experts is committed to
                                    assisting you in achieving academic excellence.
                                </p>
                                <div class=" d-flex justify-content-start align-items-center gap-3"
                                    data-aos="fade-down">
                                    <div class="get d-flex justify-content-center align-items-center">
                                        <a class=" d-flex justify-content-center align-items-center flex-row-reverse gap-2"
                                            href="#">Get started <img src="/static/assets/images/icon1.png" alt=""
                                                class=" img-fluid"></a>
                                    </div>
                                    <div class="talk d-flex justify-content-center align-items-center">
                                        <a class=" d-flex justify-content-center align-items-center flex-row-reverse gap-2"
                                            href="#">Talk To Us <img src="/static/assets/images/icon2.png" alt=""
                                                class=" img-fluid"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bussinessTools mx-auto shadow">
            <div class="div px-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class=" d-flex justify-content-between align-items-center pt-4">
                                <div class="arrow-right d-flex justify-content-center align-items-center">
                                    <i class="ri-arrow-left-s-line fs-3"></i>
                                </div>
                                <div class="tools">
                                    <div class=" d-flex flex-row-reverse gap-5 overflow-x-hidden">
                                        <img src="//static/assets/images/1.png" alt="">
                                        <img src="//static/assets/images/2.png" alt="">
                                        <img src="//static/assets/images/3.png" alt="">
                                        <img src="//static/assets/images/4.png" alt="">
                                        <img src="//static/assets/images/5.png" alt="">
                                        <img src="//static/assets/images/6.png" alt="">
                                    </div>
                                </div>
                                <div class="arrow-left d-flex justify-content-center align-items-center">
                                    <i class="ri-arrow-right-s-line fs-3"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--###### haeder section End #############-->

    <!--########### hero section start  ########### -->
    <section class="hero-section mx-auto">
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class=" d-flex justify-content-between pt-5 p-5 overflow-hidden">
                        <div class="col-lg-6" data-aos="fade-down">
                            <div class=" d-flex flex-column justify-content-start gap-3">
                                <div>
                                    <img src="//static/assets/images/whitebook.png" alt="">
                                </div>
                                <div class="hero-h1">
                                    <h1 class=" text-white">Can a professor tell if an essay is from Writing Assistance?
                                    </h1>
                                    <p class=" text-white">Take swift action to avail yourself of expert guidance
                                        for your paper without
                                        delay.</p>
                                </div>
                                <div class="hero-bt d-flex justify-content-center align-items-center">
                                    <a class=" d-flex justify-content-center align-items-center flex-row-reverse gap-2"
                                        href="#">WATCH VIDEO <img src="/static/assets/images/video.png" alt=""
                                            class=" img-fluid"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6" data-aos="fade-left">
                            <div>
                                <img src="//static/assets/images/videoimage.png" alt="" class=" img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--########### hero section End  ########### -->

    <!-- ########## Dissertation start ########### -->
    <section class="dissertation">
        <div class="pt-5">
            <div class=" mx-auto py-5">
                <h1 class=" text-center h1" data-aos="fade-up">Why Choose <span class="disser-span">Dissertation</span>
                    Help UK?</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3" data-aos="fade-up">
                        <div class="card">
                            <div class="d-flex flex-column justify-content-start card-child gap-4">
                                <div class="dis-icons shadow">
                                    <img src="//static/assets/images/icon3.png" alt="">
                                </div>
                                <div class="h2">
                                    <h2 class=" text-dark"><span>Expert</span> Guidence</h2>
                                    <p class=" text-secondary">Our team of experienced dissertation advisors in the UK
                                        are here to provide you
                                        with expert guidance at every step of your dissertation journey. From selecting
                                        the right research topic to crafting a flawless</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" data-aos="fade-up">
                        <div class="card">
                            <div class="d-flex flex-column justify-content-start card-child gap-4">
                                <div class="dis-icons shadow">
                                    <img src="//static/assets/images/icon3.png" alt="">
                                </div>
                                <div class="h2">
                                    <h2 class=" text-dark"><span>Expert</span> Guidence</h2>
                                    <p class=" text-secondary">Our team of experienced dissertation advisors in the UK
                                        are here to provide you
                                        with expert guidance at every step of your dissertation journey. From selecting
                                        the right research topic to crafting a flawless</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" data-aos="fade-up">
                        <div class="card">
                            <div class="d-flex flex-column justify-content-start card-child gap-4">
                                <div class="dis-icons shadow">
                                    <img src="//static/assets/images/icon4.png" alt="">
                                </div>
                                <div class="h2">
                                    <h2 class=" text-dark"><span>Expert</span> Guidence</h2>
                                    <p class=" text-secondary">Our team of experienced dissertation advisors in the UK
                                        are here to provide you
                                        with expert guidance at every step of your dissertation journey. From selecting
                                        the right research topic to crafting a flawless</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" data-aos="fade-up">
                        <div class="card">
                            <div class="d-flex flex-column justify-content-start card-child gap-4">
                                <div class="dis-icons shadow">
                                    <img src="//static/assets/images/icon5.png" alt="">
                                </div>
                                <div class="h2">
                                    <h2 class=" text-dark"><span>Expert</span> Guidence</h2>
                                    <p class=" text-secondary">Our team of experienced dissertation advisors in the UK
                                        are here to provide you
                                        with expert guidance at every step of your dissertation journey. From selecting
                                        the right research topic to crafting a flawless</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ########## Dissertation end ########### -->

    <!-- ######## our artifiliations start ###### -->
    <section class="artifi">
        <div class=" pt-5">
            <div class="container">
                <div class="art text-center mx-auto pt-5" data-aos="fade-up">
                    <h1>Our <span> Affiliations</span></h1>
                </div>

                <div class="row" data-aos="fade-down">
                    <div class="main-flex d-flex flex-wrap g-5 justify-content-center align-items-center">
                        <div class="col-6 col-lg-3 col-md-4">
                            <img src="//static/assets/images/1 (1).png" alt="" class=" img-fluid">
                        </div>
                        <div class="col-6 col-lg-3 col-md-4">
                            <img src="//static/assets/images/2 (1).png" alt="" class=" img-fluid">
                        </div>
                        <div class="col-6 col-lg-3 col-md-4">
                            <img src="//static/assets/images/3 (1).png" alt="" class=" img-fluid">
                        </div>
                        <div class="col-6 col-lg-3 col-md-4">
                            <img src="//static/assets/images/4 (1).png" alt="" class=" img-fluid">
                        </div>
                        <div class="col-6 col-lg-3 col-md-4">
                            <img src="//static/assets/images/5 (1).png" alt="" class=" img-fluid">
                        </div>
                        <div class="col-6 col-lg-3 col-md-4">
                            <img src="//static/assets/images/6 (1).png" alt="" class=" img-fluid">
                        </div>
                        <div class="col-6 col-lg-3 col-md-4">
                            <img src="//static/assets/images/7.png" alt="" class=" img-fluid">
                        </div>
                        <div class="col-6 col-lg-3 col-md-4">
                            <img src="//static/assets/images/8.png" alt="" class=" img-fluid">
                        </div>
                        <div class="col-6 col-lg-3 col-md-4">
                            <img src="//static/assets/images/9.png" alt="" class=" img-fluid">
                        </div>
                        <div class="col-6 col-lg-3 col-md-4">
                            <img src="//static/assets/images/10.png" alt="" class=" img-fluid">
                        </div>
                        <div class="col-6 col-lg-3 col-md-4">
                            <img src="//static/assets/images/11.png" alt="" class=" img-fluid">
                        </div>
                        <div class="col-6 col-lg-3 col-md-4">
                            <img src="//static/assets/images/12.png" alt="" class=" img-fluid">
                        </div>
                        <div class="col-6 col-lg-3 col-md-4">
                            <img src="//static/assets/images/13.png" alt="" class=" img-fluid">
                        </div>
                        <div class="col-6 col-lg-3 col-md-4">
                            <img src="//static/assets/images/14.png" alt="" class=" img-fluid">
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- ######## our artifiliations end ###### -->

    <!-- ######### work process ######### start -->
    <section class="dissertation process py-5">
        <div>
            <div class=" mx-auto py-5">
                <h1 class=" text-center h1" data-aos="fade-down">Our Simple Work<span class="disser-span">
                        Process</span></h1>
                <p class=" text-center w-75 mx-auto text-secondary">Make your content original and achieve success with
                    our professional proofreading and content editing
                    services. Minimize plagiarism, detect grammatical errors, infuse consistency, and enable better
                    citations with the help of our services. We are always here to help you.</p>
            </div>
            <div class="container">
                <div class="row" data-aos="fade-down">
                    <div class="col-lg-3">
                        <div class="card">
                            <div class=" d-flex flex-column justify-content-start align-items-center p-4">
                                <div>
                                    <h1 class=" fs-4">Login</h1>
                                    <p class=" text-secondary fw-light">Users need to either register for an account or
                                        log in to access the</p>
                                </div>
                                <div>
                                    <img src="//static/assets/images/login.png" alt="" width="150px">
                                </div>
                                <div class="c01 d-flex justify-content-center align-items-center">
                                    <h5>01</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class=" d-flex flex-column justify-content-start align-items-center p-4">
                                <div>
                                    <h1 class=" fs-4">Login</h1>
                                    <p class=" text-secondary fw-light">Users need to either register for an account or
                                        log in to access the</p>
                                </div>
                                <div>
                                    <img src="//static/assets/images/login.png" alt="" width="150px">
                                </div>
                                <div class="c01 d-flex justify-content-center align-items-center">
                                    <h5>01</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class=" d-flex flex-column justify-content-start align-items-center p-4">
                                <div>
                                    <h1 class=" fs-4">Login</h1>
                                    <p class=" text-secondary fw-light">Users need to either register for an account or
                                        log in to access the</p>
                                </div>
                                <div>
                                    <img src="//static/assets/images/login.png" alt="" width="150px">
                                </div>
                                <div class="c01 d-flex justify-content-center align-items-center">
                                    <h5>01</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class=" d-flex flex-column justify-content-start align-items-center p-4">
                                <div>
                                    <h1 class=" fs-4">Login</h1>
                                    <p class=" text-secondary fw-light">Users need to either register for an account or
                                        log in to access the</p>
                                </div>
                                <div>
                                    <img src="//static/assets/images/login.png" alt="" width="150px">
                                </div>
                                <div class="c01 d-flex justify-content-center align-items-center">
                                    <h5>01</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ######### work process ######### end -->

    <!--########### Proven start####### -->
    <section class="dissertation py-5">
        <div class="pt-5">
            <div class=" mx-auto py-5">
                <h1 class=" text-center h1" data-aos="fade-down">Our Results Are<span class="disser-span">
                        Proven!</span></h1>
            </div>
            <div class="container">
                <div class="row" data-aos="fade-up">
                    <div class="col-lg-3">
                        <div class="card shadow">
                            <div
                                class=" d-flex flex-column-reverse justify-content-center align-items-center gap-3 p-4">
                                <div class=" text-center">
                                    <h1 class=" fs-1 pb-3">99%</h1>
                                    <p class=" text-secondary fw-light">of clients are active with our services</p>
                                </div>
                                <div>
                                    <img src="//static/assets/images/99.png" alt="" width="150px">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card shadow">
                            <div
                                class=" d-flex flex-column-reverse justify-content-center align-items-center gap-3 p-4">
                                <div class=" text-center">
                                    <h1 class=" fs-1 pb-3">24,760</h1>
                                    <p class=" text-secondary fw-light">students assisted and counting!</p>
                                </div>
                                <div>
                                    <img src="//static/assets/images/24.png" alt="" width="150px">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card shadow">
                            <div class=" d-flex flex-column-reverse justify-content-center align-items-center p-4">
                                <div class=" text-center">
                                    <h1 class=" fs-1 pb-3">95%</h1>
                                    <p class=" text-secondary fw-light">of our clients highly satisfied with our
                                        services</p>
                                </div>
                                <div>
                                    <img src="//static/assets/images/95.png" alt="" width="150px">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card shadow">
                            <div
                                class=" d-flex flex-column-reverse justify-content-center align-items-center gap-   p-4">
                                <div class=" text-center">
                                    <h1 class=" fs-1 pb-3">98%</h1>
                                    <p class=" text-secondary fw-light">of our services have been delivered on schedule
                                    </p>
                                </div>
                                <div>
                                    <img src="//static/assets/images/98.png" alt="" width="150px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--######### Proven End######### -->

    <!-- ####### business start #########-->
    <section class="dissertation business my-5">
        <div class="pt-5">
            <div class=" mx-auto py-5">
                <h1 class=" text-center h1" data-aos="fade-down">Best In The<span class="disser-span">
                        Business!</span></h1>
            </div>

            <div class="container">
                <div class="row py-5">
                    <div class=" col-12 col-md-12 col-lg-7 " data-aos="fade-up">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class=" p-4 d-flex flex-wrap gap-3 shadow-main shadow">
                                    <div
                                        class="img-round rounded-circle d-flex justify-content-center align-items-center">
                                        <img src="/static/assets/images/businessicon1.png" alt="">
                                    </div>
                                    <div>
                                        <h2 class="fs-4">Quality Guarantee</h2>
                                        <p class=" text-secondary">You can count on us for excellence, expertise, and
                                            responsiveness in all our
                                            services. If we don’t deliver, we will not</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class=" p-4 d-flex flex-wrap gap-3 shadow-main shadow">
                                    <div
                                        class="img-round rounded-circle d-flex justify-content-center align-items-center">
                                        <img src="/static/assets/images/businessicon2.png" alt="">
                                    </div>
                                    <div>
                                        <h2 class="fs-4">Subject Specialists</h2>
                                        <p class=" text-secondary">You can count on us for excellence, expertise, and
                                            responsiveness in all our
                                            services. If we don’t deliver, we will not</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-12">
                                <div class=" p-4 d-flex flex-wrap gap-3 shadow-main shadow">
                                    <div
                                        class="img-round rounded-circle d-flex justify-content-center align-items-center">
                                        <img src="/static/assets/images/businessicon3.png" alt="">
                                    </div>
                                    <div>
                                        <h2 class="fs-4">Delivery Guarantee</h2>
                                        <p class=" text-secondary">You can count on us for excellence, expertise, and
                                            responsiveness in all our
                                            services. If we don’t deliver, we will not</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-12">
                                <div class=" p-4 d-flex flex-wrap gap-3 shadow-main shadow ">
                                    <div
                                        class="img-round rounded-circle d-flex justify-content-center align-items-center">
                                        <img src="/static/assets/images/businessicon4.png" alt="">
                                    </div>
                                    <div>
                                        <h2 class="fs-4">Confidentiality</h2>
                                        <p class=" text-secondary">You can count on us for excellence, expertise, and
                                            responsiveness in all our
                                            services. If we don’t deliver, we will not</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 d-flex justify-content-center align-items-center " data-aos="fade-down">
                        <div class="img-side">
                            <img src="/static/assets/images/businessimage1.png" alt="" class=" img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ##### testimonilas start ######### -->
        <section class="hero-section mx-auto">
            <div class=" text-center py-5 busi-head " data-aos="fade-down">
                <h5 class=" text-white">Testimonials</h5>
                <h1 class=" text-white">What’s Our Client says?</h1>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class=" d-flex justify-content-center align-items-center">
                        <div class="col-lg-12">
                            <div id="carouselExampleIndicators" class="carousel slide">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="0" class="active" aria-current="true"
                                        aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12 p-5">
                                                    <div
                                                        class=" d-flex flex-column justify-content-start p-5 testi-sec gap-3">
                                                        <div class=" d-flex justify-content-between ">
                                                            <h1 class="fs-4">Amazing Experience</h1>
                                                            <span class=" text-secondary">Oct 31,2023</span>
                                                        </div>
                                                        <div>
                                                            <p class=" text-secondary">Lorem, ipsum dolor sit amet
                                                                consectetur adipisicing elit.
                                                                Suscipit maxime quod consequuntur commodi beatae
                                                                distinctio expedita reiciendis fuga recusandae facere
                                                                voluptas quas iusto consequatur sunt saepe blanditiis,
                                                                voluptatibus quidem voluptatem.</p>
                                                        </div>
                                                        <div
                                                            class=" d-flex justify-content-start align-items-center gap-3">
                                                            <div
                                                                class=" rounded-circle d-flex justify-content-center align-items-center test">
                                                                <img src="/static/assets/images/photo-1633332755192-727a05c4013d.avif"
                                                                    alt="" class=" img-fluid rounded-circle">
                                                            </div>
                                                            <div>
                                                                <h4>Jenny wilson</h4>
                                                                <span class=" text-secondary">Science Student</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12 p-5">
                                                    <div
                                                        class=" d-flex flex-column justify-content-start p-5 testi-sec gap-3">
                                                        <div class=" d-flex justify-content-between ">
                                                            <h1 class="fs-4">Amazing Experience</h1>
                                                            <span class=" text-secondary">Oct 31,2023</span>
                                                        </div>
                                                        <div>
                                                            <p class=" text-secondary">Lorem, ipsum dolor sit amet
                                                                consectetur adipisicing elit.
                                                                Suscipit maxime quod consequuntur commodi beatae
                                                                distinctio expedita reiciendis fuga recusandae facere
                                                                voluptas quas iusto consequatur sunt saepe blanditiis,
                                                                voluptatibus quidem voluptatem.</p>
                                                        </div>
                                                        <div
                                                            class=" d-flex justify-content-start align-items-center gap-3">
                                                            <div
                                                                class=" rounded-circle d-flex justify-content-center align-items-center test">
                                                                <img src="/static/assets/images/photo-1633332755192-727a05c4013d.avif"
                                                                    alt="" class=" img-fluid rounded-circle">
                                                            </div>
                                                            <div>
                                                                <h4>Jenny wilson</h4>
                                                                <span class=" text-secondary">Science Student</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12 p-5">
                                                    <div
                                                        class=" d-flex flex-column justify-content-start p-5 testi-sec gap-3">
                                                        <div class=" d-flex justify-content-between ">
                                                            <h1 class="fs-4">Amazing Experience</h1>
                                                            <span class=" text-secondary">Oct 31,2023</span>
                                                        </div>
                                                        <div>
                                                            <p class=" text-secondary">Lorem, ipsum dolor sit amet
                                                                consectetur adipisicing elit.
                                                                Suscipit maxime quod consequuntur commodi beatae
                                                                distinctio expedita reiciendis fuga recusandae facere
                                                                voluptas quas iusto consequatur sunt saepe blanditiis,
                                                                voluptatibus quidem voluptatem.</p>
                                                        </div>
                                                        <div
                                                            class=" d-flex justify-content-start align-items-center gap-3">
                                                            <div
                                                                class=" rounded-circle d-flex justify-content-center align-items-center test">
                                                                <img src="/static/assets/images/photo-1633332755192-727a05c4013d.avif"
                                                                    alt="" class=" img-fluid rounded-circle">
                                                            </div>
                                                            <div>
                                                                <h4>Jenny wilson</h4>
                                                                <span class=" text-secondary">Science Student</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### testimonilas end ######### -->

    </section>
    <!-- ####### business end ########## -->

    <!-- ##### find works start ############ -->
    <section class="find-works py-5">
        <div class=" d-flex flex-column justify-content-center align-items-center gap-4">
            <div class=" text-center">
                <h1 data-aos="fade-down">Find a price that <span class="purple">works for <br>you</span></h1>
                <p class=" text-secondary w-75 mx-auto pt-1">Make your content original and achieve success with our
                    professional proofreading and content editing
                    services. Minimize plagiarism, detect grammatical errors, infuse consistency, and enable better
                    citations with the help of our services. We are always here to help you.
                </p>
            </div>
            <div class="ex" data-aos="fade-up">
                <a href="#">EXPLORE MORE <i class="ri-arrow-right-fill"></i></a>
            </div>
        </div>
    </section>
    <!-- ##### find works end ############ -->

    <!--########## footer section start ####### -->
    <footer class="pt-5">
        <div class="pt-5">
            <div class="container">
                <div class="row">
                    <div class=" d-flex justify-content-center">
                        <div class="col-lg-4 col-md-12 col-6">
                            <div class=" d-flex flex-column justify-content-start gap-4">
                                <div class="img-foot"><img src="/static/assets/images/whitebook.png" alt="" class=" img-fluid">
                                </div>
                                <p class=" text-white w-75">Overcome academic challenges with our UK Essay and
                                    Dissertation Help. Contact us for
                                    expert guidance and support today!</p>
                                <div class="btn-foot">
                                    <a href="#" class=" text-decoration-none ">GET STARTED</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class=" d-flex flex-column justify-content-start  gap-4">
                                <div>
                                    <h2 class=" text-white">Main Links</h2>
                                </div>
                                <div class="list-foot">
                                    <ul class=" d-flex flex-column gap-3 list-unstyled">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Reviews</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">How To Order</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class=" d-flex flex-column justify-content-start gap-4">
                                <div>
                                    <h2 class=" text-white">Legal</h2>
                                </div>
                                <div class="list-foot">
                                    <ul class=" d-flex flex-column gap-3 list-unstyled">
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Privacy Notice</a></li>
                                        <li><a href="#">Refund Policy</a></li>
                                        <li><a href="#">Cookie Notice</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="last-foot">
            <div class="container">
                <div class="row">
                    <div class=" d-flex justify-content-between align-items-center">
                        <div class="col-lg-6">
                            <div class=" d-flex justify-content-start gap-2">
                                <h5 class=" text-white d-flex justify-content-center align-items-center gap-2">Social
                                    Network: <i class="ri-facebook-fill"></i>
                                    <i class="ri-instagram-line"></i>
                                    <i class="ri-twitter-fill"></i>
                                    <i class="ri-pinterest-fill"></i>
                                </h5>

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class=" d-flex justify-content-end align-items-center">
                                <p> Copyright © 2023, Writing Assistant. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!--########## footer section end ####### -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        AOS.init({
            offset: 100,
            duration: 1000
        });
    </script>
    <script src="/static/assets/script.js"></script>
</body>

</html>
