<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="i am a web-developer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"
        integrity="sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="dissertation.html">
    <link rel="stylesheet" href="reserch.html">
    <link rel="stylesheet" href="term_paper.html">
    <title>Writing Assistant</title>
</head>

<body>
    <!-- ###### haeder-reserch section start ############# -->
    <header class="reserch team-paper math">
        <div class="nav" data-aos="fade-down">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class=" d-flex justify-content-between align-items-center">
                            <div>
                                <a class=" text-decoration-none" href="index.html"><img src="assets/images/logo.png"
                                        alt="" class=" img-fluid" width="100px"></a>
                            </div>
                            <div class="mt-3 nav-bar">
                                <ul class=" d-flex align-items-center   gap-5 list-unstyled">
                                    <li><a href="reserch.html">Services</a></li>
                                    <li><a href="reviews.html">reviews</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="how_to_order.html">How to order</a></li>
                                </ul>
                            </div>
                            <div class=" d-flex gap-3 align-items-center nav-icon">
                                <div class=" d-flex gap-2 justify-content-center align-items-center">
                                    <i class="ri-account-circle-line"></i>
                                    <a href="login.html">Login</a>
                                </div>
                                <div class=" place-order">
                                    <a href="sign_up.html">place an order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="services-section p-2">
            <ul class=" d-flex flex-column list-unstyled">
                <li><a href="reserch.html">Research Paper Help</a>
                    <hr>
                </li>
                <li><a href="dissertation.html">Dissertation Help</a>
                    <hr>
                </li>
                <li><a href="term_paper.html">Term Paper Help</a>
                    <hr>
                </li>
                <li><a href="home_paper.html">Home Work Help</a>
                    <hr>
                </li>
                <li><a href="essay.html">Essay Help</a>
                    <hr>
                </li>
                <li><a href="academic.html">Academic Help</a>
                    <hr>
                </li>
                <li><a href="math.html">Math Help</a>
                    <hr>
                </li>
            </ul>
        </div>

        <div class="header-section">
            <div class=" pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 mx-auto text-center" data-aos="fade-right">
                            <div
                                class="header-para reser-para term-para math-para d-flex flex-column justify-content-center align-items-center gap-3">
                                <h2 data-aos="fade-down">Ace your <span> Math </span> <br> <span>homework</span> 24/7
                                </h2>
                                <p>Submit math homework with ease and on <br> time</p>
                                <div class=" d-flex flex-column justify-content-start gap-4">
                                    <div class="get d-flex justify-content-center align-items-center">
                                        <a class=" d-flex justify-content-center align-items-center flex-row-reverse gap-2"
                                            href="#">Get started <img src="assets/images/icon1.png" alt=""
                                                class=" img-fluid"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ###### haeder-reserch section end ############# -->

    <!--####### subjects coverd start ########### -->
    <section class="coverd py-5">
        <div class="container">
            <div class="cover-h text-center mx-auto">
                <h1><span>Subjects </span> Covered</h1>
            </div>

            <div class="row">
                <div class="col-lg-12 pt-5">
                    <div class=" d-flex flex-column justify-content-center gap-5 align-items-center">
                        <div class=" d-flex flex-wrap justify-content-center align-items-center gap-3">
                            <div class="same d-flex justify-content-center align-items-center ">
                                <h3 class=" text-secondary">Basic math</h3>
                            </div>
                            <div class="same d-flex justify-content-center align-items-center">
                                <h3 class=" text-secondary">Basic</h3>
                            </div>
                            <div class="same d-flex justify-content-center align-items-center">
                                <h3 class=" text-secondary">Pre-algebra</h3>
                            </div>
                            <div class="same d-flex justify-content-center align-items-center">
                                <h3 class=" text-secondary">Algebra</h3>
                            </div>

                            <div class="same d-flex justify-content-center align-items-center">
                                <h3 class=" text-secondary">Geometry</h3>
                            </div>
                            <div class="same d-flex justify-content-center align-items-center">
                                <h3 class=" text-secondary">Trigonometry</h3>
                            </div>
                            <div class="same d-flex justify-content-center align-items-center">
                                <h3 class=" text-secondary">Numerical analysis
                                </h3>
                            </div>
                            <div class="same d-flex justify-content-center align-items-center">
                                <h3 class=" text-secondary">Statistics</h3>
                            </div>
                            <div class="same d-flex justify-content-center align-items-center">
                                <h3 class=" text-secondary">Discrete mathematics</h3>
                            </div>
                            <div class="same d-flex justify-content-center align-items-center">
                                <h3 class=" text-secondary">Differential equations
                                </h3>
                            </div>
                            <div class="same d-flex justify-content-center align-items-center">
                                <h3 class=" text-secondary">Integration</h3>
                            </div>
                            <div class="same d-flex justify-content-center align-items-center">
                                <h3 class=" text-secondary">Calculus</h3>
                            </div>
                            <div class="same d-flex justify-content-center align-items-center">
                                <h3 class=" text-secondary">Linear algebra
                                </h3>
                            </div>
                        </div>
                        <div class="math-bt">
                            <a href="#"
                                class=" text-decoration-none d-flex justify-content-center align-items-center gap-3">GET
                                HELP <img src="assets/images/arrow.png" alt="" class=" img-fluid"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--####### subjects coverd end ########### -->

    <!-- ######### work process ######### start -->
    <section class="dissertation process py-5">
        <div>
            <div class=" mx-auto py-5">
                <h1 class=" text-center h1" data-aos="fade-down">Our Simple Work<span class="disser-span">
                        Process</span></h1>
                <p class=" text-center w-75 mx-auto text-secondary">Make your content original and achieve success with
                    our professional proofreading and content editing
                    services. Minimize plagiarism, detect grammatical errors, infuse consistency, and enable better
                    citations with the help of our services. We are always here to help you.</p>
            </div>
            <div class="container">
                <div class="row" data-aos="fade-down">
                    <div class="col-lg-3">
                        <div class="card">
                            <div class=" d-flex flex-column justify-content-start align-items-center p-4">
                                <div>
                                    <h1 class=" fs-4">Login</h1>
                                    <p class=" text-secondary fw-light">Users need to either register for an account or
                                        log in to access the</p>
                                </div>
                                <div>
                                    <img src="/assets/images/login.png" alt="" width="150px">
                                </div>
                                <div class="c01 d-flex justify-content-center align-items-center">
                                    <h5>01</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class=" d-flex flex-column justify-content-start align-items-center p-4">
                                <div>
                                    <h1 class=" fs-4">Login</h1>
                                    <p class=" text-secondary fw-light">Users need to either register for an account or
                                        log in to access the</p>
                                </div>
                                <div>
                                    <img src="/assets/images/login.png" alt="" width="150px">
                                </div>
                                <div class="c01 d-flex justify-content-center align-items-center">
                                    <h5>01</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class=" d-flex flex-column justify-content-start align-items-center p-4">
                                <div>
                                    <h1 class=" fs-4">Login</h1>
                                    <p class=" text-secondary fw-light">Users need to either register for an account or
                                        log in to access the</p>
                                </div>
                                <div>
                                    <img src="/assets/images/login.png" alt="" width="150px">
                                </div>
                                <div class="c01 d-flex justify-content-center align-items-center">
                                    <h5>01</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class=" d-flex flex-column justify-content-start align-items-center p-4">
                                <div>
                                    <h1 class=" fs-4">Login</h1>
                                    <p class=" text-secondary fw-light">Users need to either register for an account or
                                        log in to access the</p>
                                </div>
                                <div>
                                    <img src="/assets/images/login.png" alt="" width="150px">
                                </div>
                                <div class="c01 d-flex justify-content-center align-items-center">
                                    <h5>01</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ####### business start #########-->
        <section class="dissertation business my-5">
            <!-- ##### testimonilas start ######### -->
            <section class="hero-section mx-auto">
                <div class=" text-center py-5 busi-head " data-aos="fade-down">
                    <h5 class=" text-white">Testimonials</h5>
                    <h1 class=" text-white">What’s Our Client says?</h1>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class=" d-flex justify-content-center align-items-center">
                            <div class="col-lg-12">
                                <div id="carouselExampleIndicators" class="carousel slide">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="0" class="active" aria-current="true"
                                            aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-12 p-5">
                                                        <div
                                                            class=" d-flex flex-column justify-content-start p-5 testi-sec gap-3">
                                                            <div class=" d-flex justify-content-between ">
                                                                <h1 class="fs-4">Amazing Experience</h1>
                                                                <span class=" text-secondary">Oct 31,2023</span>
                                                            </div>
                                                            <div>
                                                                <p class=" text-secondary">Lorem, ipsum dolor sit amet
                                                                    consectetur adipisicing elit.
                                                                    Suscipit maxime quod consequuntur commodi beatae
                                                                    distinctio expedita reiciendis fuga recusandae
                                                                    facere
                                                                    voluptas quas iusto consequatur sunt saepe
                                                                    blanditiis,
                                                                    voluptatibus quidem voluptatem.</p>
                                                            </div>
                                                            <div
                                                                class=" d-flex justify-content-start align-items-center gap-3">
                                                                <div
                                                                    class=" rounded-circle d-flex justify-content-center align-items-center test">
                                                                    <img src="assets/images/photo-1633332755192-727a05c4013d.avif"
                                                                        alt="" class=" img-fluid rounded-circle">
                                                                </div>
                                                                <div>
                                                                    <h4>Jenny wilson</h4>
                                                                    <span class=" text-secondary">Science Student</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-12 p-5">
                                                        <div
                                                            class=" d-flex flex-column justify-content-start p-5 testi-sec gap-3">
                                                            <div class=" d-flex justify-content-between ">
                                                                <h1 class="fs-4">Amazing Experience</h1>
                                                                <span class=" text-secondary">Oct 31,2023</span>
                                                            </div>
                                                            <div>
                                                                <p class=" text-secondary">Lorem, ipsum dolor sit amet
                                                                    consectetur adipisicing elit.
                                                                    Suscipit maxime quod consequuntur commodi beatae
                                                                    distinctio expedita reiciendis fuga recusandae
                                                                    facere
                                                                    voluptas quas iusto consequatur sunt saepe
                                                                    blanditiis,
                                                                    voluptatibus quidem voluptatem.</p>
                                                            </div>
                                                            <div
                                                                class=" d-flex justify-content-start align-items-center gap-3">
                                                                <div
                                                                    class=" rounded-circle d-flex justify-content-center align-items-center test">
                                                                    <img src="assets/images/photo-1633332755192-727a05c4013d.avif"
                                                                        alt="" class=" img-fluid rounded-circle">
                                                                </div>
                                                                <div>
                                                                    <h4>Jenny wilson</h4>
                                                                    <span class=" text-secondary">Science Student</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-12 p-5">
                                                        <div
                                                            class=" d-flex flex-column justify-content-start p-5 testi-sec gap-3">
                                                            <div class=" d-flex justify-content-between ">
                                                                <h1 class="fs-4">Amazing Experience</h1>
                                                                <span class=" text-secondary">Oct 31,2023</span>
                                                            </div>
                                                            <div>
                                                                <p class=" text-secondary">Lorem, ipsum dolor sit amet
                                                                    consectetur adipisicing elit.
                                                                    Suscipit maxime quod consequuntur commodi beatae
                                                                    distinctio expedita reiciendis fuga recusandae
                                                                    facere
                                                                    voluptas quas iusto consequatur sunt saepe
                                                                    blanditiis,
                                                                    voluptatibus quidem voluptatem.</p>
                                                            </div>
                                                            <div
                                                                class=" d-flex justify-content-start align-items-center gap-3">
                                                                <div
                                                                    class=" rounded-circle d-flex justify-content-center align-items-center test">
                                                                    <img src="assets/images/photo-1633332755192-727a05c4013d.avif"
                                                                        alt="" class=" img-fluid rounded-circle">
                                                                </div>
                                                                <div>
                                                                    <h4>Jenny wilson</h4>
                                                                    <span class=" text-secondary">Science Student</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ##### testimonilas end ######### -->

        </section>
        <!-- ####### business end ########## -->
    </section>
    <!-- ######### work process ######### end -->

    <!--#########  tranparent start ######-->
    <section class="tranparent">
        <div class="container">
            <div class="trans-para text-center mx-auto py-5">
                <h1>Transparent <span>Pricing</span></h1>
                <p class=" text-secondary">The quote depends on the following factors:</p>
            </div>

            <div class="row">
                <div class=" d-flex justify-content-start gap-3 align-items-center pb-5">
                    <div class="col-lg-3 my-1">
                        <div class=" d-flex flex-column justify-content-start gap-4 p-3">
                            <div>
                                <img src="assets/images/icon8.png" alt="" class=" img-fluid">
                            </div>
                            <div>
                                <p>The complexity of the <br> concepts being <br> covered.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 my-1">
                        <div class=" d-flex flex-column justify-content-start gap-4 p-3">
                            <div>
                                <img src="assets/images/icon9.png" alt="" class=" img-fluid">
                            </div>
                            <div>
                                <p>The time required for <br> the expert to <br> complete the</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 my-1">
                        <div class=" d-flex flex-column justify-content-start gap-4 p-3">
                            <div>
                                <img src="assets/images/icon10.png" alt="" class=" img-fluid">
                            </div>
                            <div>
                                <p>The experience and <br> qualifications of the <br>expert.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 my-1">
                        <div class=" d-flex flex-column justify-content-start gap-4 p-3">
                            <div>
                                <img src="assets/images/icon11.png" alt="" class=" img-fluid">
                            </div>
                            <div>
                                <p>The urgency of the <br> assignment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--#########  tranparent end ######-->

    <!-- ####### money back start ########## -->
    <section class="money-back pt-5">
        <div class="container">
            <div class="back-h text-xl-center pb-5" data-aos="fade-down">
                <h1><span>Money-Back</span> Guarantee</h1>
            </div>

            <div class="row" data-aos="fade-up">
                <div class=" d-flex justify-content-between gap-4 py-5">
                    <div class="col-lg-7 d-flex justify-content-center align-items-center">
                        <div class="p-4">
                            <p class=" text-secondary">We will provide a refund of the customer’s payment if they are
                                not satisfied with the
                                service. We want our customers to be completely satisfied with our service and to come
                                back for future projects. If a customer is unsatisfied with the paper they receive, we
                                are happy to revise it as many times as necessary until the customer is satisfied with
                                the final product. In the rare case that a customer is still unsatisfied, we offer a
                                full refund of their payment. Our money-back guarantees ensure that customers can trust
                                our service and have confidence in the quality of the work we produce.</p>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex justify-content-center align-items-center">
                        <div>
                            <img src="assets/images/moneybackguranty.png" alt="" class=" img-fluid">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" data-aos="fade-down">
                <div class=" d-flex justify-content-between gap-4 py-5">

                    <div class="col-lg-5 d-flex justify-content-center align-items-center">
                        <div>
                            <img src="assets/images/whoexpert.png" alt="" class=" img-fluid" width="300px">
                        </div>
                    </div>

                    <div class="col-lg-7 d-flex justify-content-center align-items-center">
                        <div class="p-4 d-flex flex-column justify-content-start">
                            <h1>Who are Our <br> <span>experts?</span></h1>
                            <p class=" text-secondary pt-2">Our team of experts consists of freelancers and alumni from
                                top universities in the US
                                and worldwide. They are qualified to assist you with various tasks and have passed a
                                rigorous examination process to prove their competence. They also agree to follow our
                                Honor Code as part of their commitment to providing high-quality service.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ####### money back end ########## -->


    <!-- ##### find works start ############ -->
    <section class="find-works py-5">
        <div class=" d-flex flex-column justify-content-center align-items-center gap-4">
            <div class=" text-center">
                <h1 data-aos="fade-down">Find a price that <span class="purple">works for <br>you</span></h1>
                <p class=" text-secondary w-75 mx-auto pt-1">Make your content original and achieve success with our
                    professional proofreading and content editing
                    services. Minimize plagiarism, detect grammatical errors, infuse consistency, and enable better
                    citations with the help of our services. We are always here to help you.
                </p>
            </div>
            <div class="ex" data-aos="fade-up">
                <a href="#">EXPLORE MORE <i class="ri-arrow-right-fill"></i></a>
            </div>
        </div>
    </section>
    <!-- ##### find works end ############ -->

    <!--########## footer section start ####### -->
    <footer class="pt-5">
        <div class="pt-5">
            <div class="container">
                <div class="row">
                    <div class=" d-flex justify-content-center">
                        <div class="col-lg-4 col-md-12 col-6">
                            <div class=" d-flex flex-column justify-content-start gap-4">
                                <div class="img-foot"><img src="assets/images/whitebook.png" alt="" class=" img-fluid">
                                </div>
                                <p class=" text-white w-75">Overcome academic challenges with our UK Essay and
                                    Dissertation Help. Contact us for
                                    expert guidance and support today!</p>
                                <div class="btn-foot">
                                    <a href="#" class=" text-decoration-none ">GET STARTED</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class=" d-flex flex-column justify-content-start  gap-4">
                                <div>
                                    <h2 class=" text-white">Main Links</h2>
                                </div>
                                <div class="list-foot">
                                    <ul class=" d-flex flex-column gap-3 list-unstyled">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Reviews</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">How To Order</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class=" d-flex flex-column justify-content-start gap-4">
                                <div>
                                    <h2 class=" text-white">Legal</h2>
                                </div>
                                <div class="list-foot">
                                    <ul class=" d-flex flex-column gap-3 list-unstyled">
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Privacy Notice</a></li>
                                        <li><a href="#">Refund Policy</a></li>
                                        <li><a href="#">Cookie Notice</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="last-foot">
            <div class="container">
                <div class="row">
                    <div class=" d-flex justify-content-between align-items-center">
                        <div class="col-lg-6">
                            <div class=" d-flex justify-content-start gap-2">
                                <h5 class=" text-white d-flex justify-content-center align-items-center gap-2">Social
                                    Network: <i class="ri-facebook-fill"></i>
                                    <i class="ri-instagram-line"></i>
                                    <i class="ri-twitter-fill"></i>
                                    <i class="ri-pinterest-fill"></i>
                                </h5>

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class=" d-flex justify-content-end align-items-center">
                                <p> Copyright © 2023, Writing Assistant. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!--########## footer section end ####### -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 100,
            duration: 1000
        });
    </script>
    <script src="script.js"></script>
</body>

</html>
