<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="i am a web-developer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"
        integrity="sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/style.css">
    <title>Writing Assistant</title>
</head>

<body>
    <div class="form">
        <div class=" d-flex justify-content-center align-items-center pt-5">
            <div class="container">
                <div class="row pt-5">

                    <div class="col-lg-6">
                        <div class=" d-flex flex-column justify-content-center align-items-center gap-3">
                            <div>
                                <img src="/static/assets/images/booklogo.png" alt="">
                            </div>
                            <div class=" text-center form-log">
                                <h1>Login 👋</h1>
                                <p class=" py-1 text-secondary">Please enter your valid information below to proceed</p>
                            </div>
                        </div>

                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email"name='email' class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter your email">
                            </div>
                            <div class="mb-3 pt-4">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Enter Your Password">
                            </div>

                            <div class=" d-flex flex-column justify-content-center align-items-center pt-3">
                                <p>Don’t have an account? <a href="#">Sign Up Now</a></p>
                                <button class="w-75 py-2">Login</button>
                                <a href="#" class=" pt-4">Forget password?</a>

                                <div class=" d-flex justify-content-center gap-5 pt-5">
                                    <div class="forming d-flex justify-content-center align-items-center">
                                        <img src="/static/assets/images/google.png" alt="" class=" img-fluid">
                                    </div>

                                    <div class="forming d-flex justify-content-center align-items-center">
                                        <img src="/static/assets/images/facebook.png alt=" class=" img-fluid" alt="FB">
                                    </div>

                                    <div class="forming d-flex justify-content-center align-items-center">
                                        <img src="/static/assets/images/tiktok.png" alt="" class=" img-fluid">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <img src="/static/assets/images/loginbanner.png" alt="" class=" img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 100,
            duration: 1000
        });
    </script>
    <script src="/static/assets/script.js"></script>
</body>

</html>
